<?php

// should be named as config.php

$charset = "UTF-8";
// $include_paths = array("/www/my-php-project/");
// $exclude_paths = array("/www/my-php-project/tmp/");
$syntaxhiglight = true;
$usecache = false;
//// $datadir is default to ini_get("xcache.coveragedump_directory")
// $datadir = '';

function ob_filter_path_nicer($o)
{
	$sep = DIRECTORY_SEPARATOR;
	$o = str_replace($_SERVER['DOCUMENT_ROOT'],  "{DOCROOT}$sep", $o);
	$xcachedir = realpath(dirname(__FILE__) . "$sep..$sep");
	$o = str_replace($xcachedir . $sep, "{XCache}$sep", $o);
	if ($sep == '/') {
		$o = str_replace("/home/", "{H}/", $o);
	}
	return $o;
}

?>
