input, table { font-family: sans-serif; font-size: 11px; }
table { border-collapse: collapse; }
table.cycles { border: 1px solid black; margin-top: 5px; margin-bottom: 5px; }
table.cycles .col1 { background-color: #f5f5f5; }
table.cycles .col2 { background-color: #e0e0e0; }
table.cycles th, table.cycles td { border: 1px solid black; font-family: monospace; }
table.cycles th { background-color: #9999cc; color: black; font-weight: bold; height: 20px; line-height: 20px; font-family: serif; }
th a { color: black; font-weight: bold; display: block; width: 100%; height: 100%; }
.moduleinfo table { border: 1px solid black; }
.moduleinfo table th, .moduleinfo table td { border: 1px solid black; }
.moduleinfo table th { font-weight: bold; }
.moduleinfo .e {background-color: #ccccff; font-weight: bold; color: #000000;}
.moduleinfo .h {background-color: #9999cc; font-weight: bold; color: #000000;}
.moduleinfo .v {background-color: #cccccc; color: #000000;}
.button { }
span.sortarrow { color: white; text-decoration: none; }
.freeblocks { float: left; margin-right: 4px;}
.freeblocks td { text-align: right; }
form {margin: 0; padding: 0}
.percent { border: 1px solid black; width: 80%; height: 100%; }
.percent div { font-size: 1px; line-height: 1px; width: 100%;}
.percent .pavail { background: blue; }
.switcher, h1 { text-align: center; display: block; }
.switcher * { color: blue; }
.switcher a.active { font-weight: bold; font-size: 130%; color: black; }
#help { display: block; float: right; }
.footnote { text-align: right; font-size: 12px; }
dl { overflow: hidden; }
dt { font-weight: bold; clear: both; float: left; width: 100px; text-align: right; margin: 0; }
dd { margin: 0; }
